.nav-link {
  color: rgba(0, 0, 0, 0.514);
}

.nav-link:hover {
  color: black;
}

@media only screen and (max-width: 1200px) {
  #Home {
    flex-grow: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://images.unsplash.com/photo-1523974959700-e7957240c232?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  #Home div {
    color: white;
  }
  #Home > img {
    display: none;
  }
  #Home button {
    background-color: white;
    color: black;
  }
}

@media only screen and (max-width: 440px) {
  img {
    width: 100%;
    height: auto;
  }
}
